<nav>
    <div class="title">
        <img src="/images/logo.png" class="logo" />
        <p class="title">{{APP_NAME}}</p>
    </div>
    <div>
        <a href="/auth/login">Login</a>
    </div>
    <div>
        <a class="registerButton" href="/auth/register">Register</a>
    </div>
</nav>