<!DOCTYPE html>
<html>
    <head>
        @!section('head')
        <link rel="stylesheet" href="/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="/vendor/fontawesome/fontawesome-all.min.css" />
        <link rel="stylesheet" href="/stylesheets/auth.css" />
        <link rel="icon" href="/images/logo.png" />
    </head>
    <body>
        <header>
            <nav>
                <div class="title">
                    <img src="/images/logo.png" class="logo" />
                    <p class="title">{{APP_NAME}}</p>
                </div>
            </nav>
        </header>

        <div class="wrapper">
            <div class="container content">
                    @!section('content')
            </div>
        </div>

       @include('partials.footer')

        <script src="/vendor/jquery-3.2.1.min.js"></script>
        <script src="/vendor/bootstrap.min.js"></script>
        @!section('scripts')
    </body>
</html>