<!DOCTYPE html>
<html>
    <head>
        @!section('head')
        <link rel="stylesheet" href="/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="/vendor/fontawesome/fontawesome-all.min.css" />
        <link rel="stylesheet" href="/stylesheets/auth.css" />
    </head>
    <body>
        <header>
            <nav>
    
            </nav>
        </header>

        @!section('content')

        <footer>
            
        </footer>

        <script src="/vendor/jquery-3.2.1.min.js"></script>
        <script src="/vendor/bootstrap.min.js"></script>
        @!section('scripts')
    </body>
</html>